<!-- fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <div th:fragment="sidebar">
        <aside class="sidebar" id="sidebar">
            <nav>
                <i id="Sidebar-hide-Btn" class="fa-solid fa-arrow-left"></i>

                <!-- Dashboard visible to all users -->
                <a th:href="@{/dashboard}"><i class="fa fa-home"></i> Dashboard</a>

                <!-- Management section (IT only) -->
                <div class="menu-item" sec:authorize="hasRole('IT')">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-cogs"></i> Management
                        <i class="fa fa-chevron-down submenu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/users}"><i class="fa fa-user"></i> Users</a>
                        <a th:href="@{/staff/all}"><i class="fa-solid fa-users"></i> Staffs</a>
                        <a th:href="@{/branch/all}"><i class="fa-solid fa-building"></i> Branches</a>
                        <a th:href="@{/province/all}"><i class="fa-solid fa-map-location-dot"></i> Provinces</a>
                        <a th:href="@{/headoffice/all}"><i class="fa-solid fa-city"></i> Head Office</a>
                        <a th:href="@{/fiscal/all}"><i class="fa-solid fa-calendar"></i> Fiscal Year</a>
                    </div>
                </div>

                <!-- Application section (IT only) -->
                <div class="menu-item" sec:authorize="hasRole('IT')">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-envelope"></i> Application
                        <i class="fa fa-chevron-down submenu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/asset-application/new}"><i class="fa fa-plus"></i> Add New</a>
                        <a th:href="@{/asset-application/all}"><i class="fa fa-list"></i> View Old</a>
                    </div>
                </div>

                <!-- Source Code section visible to all -->
                <div class="menu-item">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-bars"></i> Source Code
                        <i class="fa fa-chevron-down submenu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/software/form}"><i class="fa fa-plus"></i> Add New</a>
                        <a th:href="@{/software/list}"><i class="fa fa-list"></i> Software List</a>
						<a th:href="@{/software/deleted-list}" sec:authorize="hasRole('IT')">
						    <i class="fa fa-list"></i> Deleted List
						</a>
                    </div>
                </div>

                <!-- Logout visible to all -->
                <a th:href="@{/logout}"><i class="fa fa-sign-out-alt"></i> Logout</a>
            </nav>
        </aside>
    </div>
</body>
</html>
