<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}" />
    <link rel="stylesheet" th:href="@{/css/adduserStyle.css}" />
	<link rel="stylesheet" th:href="@{/css/TableStyle.css}" />
	<link rel="stylesheet" th:href="@{/css/FormStyle.css}" />

</head>
<body>
    <header>
        <div th:replace="fragments/navbar :: navbar"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<h1>Add User</h1>
    </header>

    <main>
        <!-- Left: Add User Form -->
        <section class="form-section">
            <h2 id="subheadingText"><i class="fa fa-user-plus"></i> Add New User</h2>
            
            <!-- Error Message -->
            <div th:if="${error}" class="message error">
                <i class="fa fa-exclamation-circle"></i>
                <span th:text="${error}"></span>
            </div>
            
            <!-- Success Message -->
            <div th:if="${success}" class="message success">
                <i class="fa fa-check-circle"></i>
                <span th:text="${success}"></span>
            </div>

            
			<form id="userForm" th:action="@{/adduser}" method="post">
			    <input type="hidden" id="userId" name="id" /> <!-- hidden field for updates -->

			    <div class="form-group">
			        <label for="username"><i class="fa fa-user"></i> Username</label>
			        <input type="text" id="username" name="username" placeholder="Enter username" required />
			    </div>

			    <div class="form-group">
			        <label for="password"><i class="fa fa-lock"></i> Password</label>
			        <input type="password" id="password" name="password" placeholder="Enter password"  />
			    </div>

			    <div class="form-group">
			        <label for="confirmPassword"><i class="fa fa-lock"></i> Confirm Password</label>
			        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"  />
			    </div>

			    <div class="form-group">
			        <label for="staffCode"><i class="fa fa-id-badge"></i> Staff Code</label>
			        <input type="text" id="staffCode" name="staffCode" placeholder="Enter staff code" maxlength="10" required />
			    </div>
				
				<div class="form-group">
				    <label for="department"><i class="fa fa-building"></i> Department</label>
				    <select id="department" name="department" required>
				        <option value="" disabled selected>Select Department</option>

				        <option value="Integrated Risk Department"
				                th:selected="${user != null and user.department == 'Integrated Risk Department'}">
				            Integrated Risk Department
				        </option>

				        <option value="Internal Audit and Inspection Department"
				                th:selected="${user != null and user.department == 'Internal Audit and Inspection Department'}">
				            Internal Audit and Inspection Department
				        </option>

				        <option value="Compliance Department"
				                th:selected="${user != null and user.department == 'Compliance Department'}">
				            Compliance Department
				        </option>

				        <option value="Marketing and Sales Department"
				                th:selected="${user != null and user.department == 'Marketing and Sales Department'}">
				            Marketing and Sales Department
				        </option>

				        <option value="Credit Administration and Monitoring Department"
				                th:selected="${user != null and user.department == 'Credit Administration and Monitoring Department'}">
				            Credit Administration and Monitoring Department
				        </option>

				        <option value="Credit Approval and Control Department"
				                th:selected="${user != null and user.department == 'Credit Approval and Control Department'}">
				            Credit Approval and Control Department
				        </option>

				        <option value="Recovery and Collection Department"
				                th:selected="${user != null and user.department == 'Recovery and Collection Department'}">
				            Recovery and Collection Department
				        </option>

				        <option value="Trade Finance and Guarantee Operation Department"
				                th:selected="${user != null and user.department == 'Trade Finance and Guarantee Operation Department'}">
				            Trade Finance and Guarantee Operation Department
				        </option>

				        <option value="Legal Department"
				                th:selected="${user != null and user.department == 'Legal Department'}">
				            Legal Department
				        </option>

				        <option value="Agriculture Credit and Project Management Department"
				                th:selected="${user != null and user.department == 'Agriculture Credit and Project Management Department'}">
				            Agriculture Credit and Project Management Department
				        </option>

				        <option value="Credit Business and Treasury Department"
				                th:selected="${user != null and user.department == 'Credit Business and Treasury Department'}">
				            Credit Business and Treasury Department
				        </option>

				        <option value="Central Operation Department"
				                th:selected="${user != null and user.department == 'Central Operation Department'}">
				            Central Operation Department
				        </option>

				        <option value="Human Resource Management Department"
				                th:selected="${user != null and user.department == 'Human Resource Management Department'}">
				            Human Resource Management Department
				        </option>

				        <option value="General Service Department"
				                th:selected="${user != null and user.department == 'General Service Department'}">
				            General Service Department
				        </option>

				        <option value="Fixed Assets and New Project Development Department"
				                th:selected="${user != null and user.department == 'Fixed Assets and New Project Development Department'}">
				            Fixed Assets and New Project Development Department
				        </option>

				        <option value="Finance and Planning Department"
				                th:selected="${user != null and user.department == 'Finance and Planning Department'}">
				            Finance and Planning Department
				        </option>

				        <option value="Digital Banking Department"
				                th:selected="${user != null and user.department == 'Digital Banking Department'}">
				            Digital Banking Department
				        </option>

				        <option value="Information Technology Department"
				                th:selected="${user != null and user.department == 'Information Technology Department'}">
				            Information Technology Department
				        </option>
				    </select>
				</div>


			    <div class="form-group">
			        <label for="inputer"><i class="fa fa-user-edit"></i> Inputer</label>
			        <input type="text" id="inputer" name="inputer" placeholder="Enter inputer name" readonly th:value="${loggedinUsername}" />
			    </div>

			    <div class="form-group">
			        <label for="authoriser"><i class="fa fa-user-check"></i> Authoriser</label>
			        <input type="text" id="authoriser" name="authoriser" placeholder="Enter authoriser name" required />
			    </div>
				
				

				<div class="form-group">
				    <button id="formBtn" type="submit"
				            th:disabled="${addUserStatus == 0}"
				            th:classappend="${addUserStatus == 0} ? ' disabled-btn' : ''">
				        <i class="fa fa-plus"></i> Add User
				    </button>
				</div>
				
				
			</form>

			
        </section>

        <!-- Right: Recently Added Users -->
        <section class="recent-users">
            <h2><i class="fa fa-users"></i> Recently Added Users</h2>
            <table>
                <thead>
                    <tr>
                        <th><i class="fa fa-id-badge"></i> Staff Code</th>
                        <th><i class="fa fa-user"></i> Staff Name</th>
                        <th><i class="fa fa-tasks"></i> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${recentUsers}">
                        <td th:text="${user.staff.staffCode}"></td>
                        <td th:text="${user.staff.firstName} + ' ' + ${user.staff.lastName}">exampleuser</td>
                        <td>
                            <a th:href="@{/UserDeleteConfirmation/{id}(id=${user.id})}" class="action-btn delete-btn" title="Delete User">
                                <i class="fa fa-trash"></i>
                            </a>
							<a href="#" 
							   class="action-btn edit-btn" 
							   title="Edit User"
							   th:attr="data-id=${user.id},
							            data-username=${user.username},
							            data-staffcode=${user.staff.staffCode},
							            data-authoriser=${user.authoriser}">
							    <i class="fa fa-edit"></i>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/adduser.js}"></script>




</html>