<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Confirm Delete Fiscal</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}" />
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <h1>Confirm Delete Fiscal Year</h1>
</header>

<main>
    <section class="form-section">
        <p>Are you sure you want to delete fiscal year <b th:text="${fiscal.fiscalYear}"></b>?</p>
        <div th:if="${error}" class="message error"><span th:text="${error}"></span></div>

        <a th:href="@{/fiscal/delete/{id}(id=${fiscal.fiscalId})}" class="btn btn-delete">
            <i class="fa fa-trash"></i> Yes, Delete
        </a>
        <a th:href="@{/fiscal/all}" class="btn btn-cancel">Cancel</a>
    </section>
</main>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
